* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.SEO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.week {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
    padding-top: 50px;
}
h6 {
    font-size: 2rem;
}