* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    border-bottom: 2px solid black;
}
#main-link {
    color: black;
    text-transform: lowercase;
    font-size: 2rem;
}
#main-link:hover {
    color: rgb(119, 119, 119);
}