* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    border-bottom: 2px solid black;
}
#main-link {
    color: black;
    text-transform: lowercase;
}
#main-link:hover {
    color: rgb(119, 119, 119);
}

#pic1 {
    width: 100%;
    height: 100vh;
    /* min-width:max-content; */
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    margin-bottom: 30px;
}
#pic2 {
    width: 100%;
    height: 100vh;
    /* min-width:max-content; */
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}
#pdf {
    width: 100%;
    height: 10vh;
    /* min-width:max-content; */
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    /* min-width:max-content; */
    width: 50%;
    
}
a {
    color: rgb(0, 110, 255);
    font-size: 2rem;
}
